* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 910px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}
section > span {
  border: 2px solid black;
}
section > span > div {
  width: 80px;
  height: 40px;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
section > span > p {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-align: center;
}
